@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: #ffc77d;
    color: brown
    font-family: 'Lora', serif;
}

/* Typography */

h1{
    font-size: 3.5rem;
    margin-bottom: 0.5em;
}

/* Layout */

span{
    margin-top: 0;
}
.large{
    font-size: 1.8em;
    font-weight: 800;
    margin-bottom: 0;
}
.container{
    text-align: center;
    margin:10em;
}
.countdown{
    display: flex;
    justify-content: center;
}
.days,.hours,.minutes,.seconds{
    margin: 1em;
    font-size: 1.5em;
    margin-top: 0.2em;
}

@media (max-width:450px){
    .countdown{
        flex-wrap: wrap;
    }
    .container{
        margin: 6em;
    }
}

